NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_xxx
CLERK_SECRET_KEY=sk_test_xxx
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# Google Cloud Vision API (for OCR)
   GCP_PROJECT_ID=your-project-id
   VISION_CLIENT_EMAIL=your-service-account@project.iam.gserviceaccount.com
   VISION_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"